/*Base styling*/

* {
	box-sizing: border-box;
	font-family: "Times New Roman", Times, serif; /* Default font for the document */
}

body {
	background-color: #ffffff;
}

h1 {
	text-align: center;
	font-size: 175%;
}

section > div {
	background-color: #afc1d6;
	border: 1px solid #000000;
	width: 100%;
	position: relative;
}

.row {
	width: 100%;
}

h2 {
	border: 1px solid #000000;
	float: right;
	margin-top: 0%;
	margin-right: 0%;
	margin-bottom: 1%;
	padding: 0.5px 30px 0.5px 30px;
	font-size: 125%;
}

section {
	padding: 10px; /* Used for the spacing between the boxes */
}

p {
	clear: right;
	width: 95%; /* To fit inside the box */
	margin: 1px 1px 0px 15px;
	overflow: auto;
}

#box1_title {
	background-color: #cef9f2;
}

#box2_title {
	background-color: #ed6b86;
}

#box3_title {
	background-color: #9046cf;
}

/* Browser */

@media (min-width: 992px) {
	.col-browser-4 {
		float: left;
		width: 33.33%;
	}
	#section_2 {
		padding-left: 15px;
	}
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
	.col-tablet-6,
	.col-tablet-12 {
		float: left;
	}
	.col-tablet-6 {
		width: 50%;
	}
	.col-tablet-12 {
		width: 100%;
	}
}

/* Mobile */
@media (max-width: 767px) {
	.col-mobile-12 {
		float: left;
		width: 100%;
	}
	#section_2 {
		padding-bottom: 20px;
	}
}
